matplotlib==3.5.2
matplotlib==3.7.1
numpy==1.22.1
Pillow==9.4.0
Pillow==9.5.0
scikit_learn==1.2.2
scikit_learn==1.2.1
torch==2.0.0
TorchSUL==0.1.28
TorchSUL==0.1.28
torchvision==0.15.0
tqdm==4.65.0
uncertainty_toolbox==0.1.1
xarray==2022.11.0
